:root {
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue:#005490;
    --color-primary: #9d0191;
    --color-sec:  #db6400;
    --grey: #eee;
    --dack-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

html {
    font-size: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-div {
    width: 40rem;
    border: 1px solid var(--grey);
    padding: 1rem;
    background-color: var(--light-blue);
    color: #eee;
    text-align: center;
    border-radius: 5px;
}

.counter-div > * {
    margin-bottom: 2rem;
}

.count {
    font-size: 4rem;
}

.button button {
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #eee;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1rem;
    letter-spacing: 2px;
}

button.subtract {
    background-color: orangered;
}
button.reset {
    background-color: #eee;
    color: var(--black);
}
button.add {
    background-color: green;
}